@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  background-color: rgb(142, 142, 8);
  color: white;
  /* text-decoration: underline; */
  padding: 8px;
  border-radius: 6px;
  font-size: 12px;
}
