.mainBg {
    background-color: burlywood;
}

.mainBg01 {
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}

// .active{
//     background-color: blue;
//     color: white;
//     text-decoration: underline;
//     padding: 4px;
// }